{% extends "layout.html" %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
{% endblock %}

{% block content %}
    <main>
        {% if errorMessage %}
            <div class="user-message user-message--error">{{ errorMessage }}</div>
        {% endif %}
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="{{ userId }}">
            <input type="hidden" name="passwordToken" value="{{ passwordToken }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
{% endblock %}