<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    {% block head %}
        <link rel="stylesheet" href="/css/main.css">
    {% endblock %}
</head>

    <body>
        <header class="main-header">
            {% include "navigation.html" %}
            {% block header %}
            {% endblock %}
        </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
        <script src="/js/main.js"></script>
    {% endblock %}
    </body>
</html>